.home-page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.home-page .left {
    display: flex;
    flex: 2;
}

.home-page .center-right {

    display: flex;
    flex: 6;
}


.create-reservation-btn {
    background-color: #4eaa79; /* grøn */
    color: white;
    font-weight: 500;
    font-size: 0.95rem;
    border: none;
    border-radius: 6px;
    height: 3rem;
    width: 10rem;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    transition: background-color 0.15s ease;

}


