/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */
body {
    font-family: "Inter", "Roboto", sans-serif;
    background-color: #f9fafb;
    color: #6c737f;
    line-height: 1.5;
    overflow: hidden;
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* Link og liste defaults */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}
