
/* error p-element inde i en error-container på hver page*/


.active-error {
    display: inline-block;
    color: darkred;
}

.active-info {
    display: inline-block;
    color: green;
}


.message-container {

}