.global-nav-container .logo img {
    width: 100px;
    height: 100px;
}

.global-nav-container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.global-nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e5e7eb;
    justify-content: space-between; /* <-- sørger for top og bund */
    height: 100vh; /* fyld hele siden i højden */
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* holder links højt */
    padding-bottom: 5rem;
    gap: 1rem;
}

.main-nav div {
    width: 95%;
    display: flex;
    flex-direction: row;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    padding: 0.3rem;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.main-nav div:hover {
    background-color: #e5e7eb;
}

.main-nav div.selected-link {
    background-color: #eef1f6;
}

.user-section-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    margin-top: auto;
    padding: 1rem;
}

/* alt i bunden, side om side */
.user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e5e7eb;
    padding: 0.5rem 0;

    flex-direction: row;
}

/* navn + created samlet til venstre */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.user-section-profile .name {
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}


.created-at p {
    font-size: 0.8rem;
    color: #555;
}

/* logout-knap til højre */
.log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    color: darkred;
}

.log-out:hover {
    color: #a10404;
}
